<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header bg-light">
                Login in New Account
            </div>
            <form method="post" action="Login">
                <div class="row card-body mb-3">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-2">
                                <label class="control-label">Code :</label>
                            </div>
                            <div class="col-md-10" >
                                <input name="code" type="text" class="form-control"/>
                            </div>
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-info">Login</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>